nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  max-width: 1280px;
  width: 1280px;
}

.nave{
  background-color: var(--surface-color);
  border-bottom: solid 2px rgb(151, 140, 140);
  max-width: 1280px;
}

nav ul{
  display: flex;
  width: 325px;
  height: 40px;
  justify-content: space-around;
  align-items: center;
}

nav ul li img{
  width: 40px;
  height: 40px;
}

nav ul img{
  border-radius: 100%;
}